{% extends "base.njk" %}

{% block content %}
    <div class="container sp">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock content %}


    
                    
         